.custom-class{
    opacity: 0.50;
    color: dodgerblue;
}

.img-custom{
    position: relative;
    left: 25%;
    width: 41%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .ng-invalid:not(form)  {
    border: 1px solid var(--bg-color); /* red */
  }

